.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.primary-color {
  color: #061866;
}

.text-black {
  color: #FB746E;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}

.col-1 {width: 8.33%;
  background-color: grey;
}

header {
  position: fixed;
  width:100%;
  top:0;
  left:0;
  padding: 1em;
background-color: white;
}

main {
  padding: 4em;
}
